credentials.json
service-account.json
token_auth.json
*.xlsx

# Venv
ppwl
__pycache__
*.csv
.env
secrets.txt
data_score/*-score.txt
data_tugas/ppwl*.json
data_cache/*.json
repo.txt
question_clean.json
questions.json